.form {
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  width: 100%;
  max-width: 700px;

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }

  &__label {
    color: rgba(0,0,0,.8);
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__title {
      color: #f58500;
      font-size: 18pt;
      text-align: center;
  }

  &__button {
    color: black;
    background: white;
    border-radius: 20px;
    border: 1px solid #f58500;
    outline: none;
    width: 25%;
    padding: 10px 0;

    &:hover {
      background-color: #f58500;
      color: white;
      cursor: pointer;
    }

    &--hover-red {
      &:hover {
        background-color: #c11300;
      }
    }
  }

  &__group {
    &--flex-column {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}